/.vscode
/a.c
/a.exe
/App.java
/arr.c
/arr.exe
/cppsummerpractice
/embed.c
/examplesgu
/factfunc.c
/factfunc.exe
/java
/kee.py
/matlabclass.cpp
/matlabclass.exe
/nov24.c
/nov24.cpp
/nov24.exe
/practice.cpp
/practice.exe
/prime.cpp
/prime.exe
/project2.m
/SnakeGame.class
/SnakeGame.java
/tempCodeRunnerFile.py
/test.py